body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #6c6c6c;
}
h1, h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #454445;
}
h1 {
	font-size: 30px;
}
h3 {
	font-size: 22px;
	margin-top: 15px;
}

.main_text ul {
	list-style: none;
	padding-left: 0;
}
/* Begin Navbar Section */

#header {
 	background-color: #333;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: none;
	color: white;
}
#header_include {
	margin-bottom:0px;
}

.navbar-toggle {
	margin: 0 15px 0 0;
	padding: 14px 10px;
}

.navcolor a {
	text-decoration: none;
}

.navcolor a:visited { 
	color: #FFF;
}

.navcolor a:hover {
	color:black;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom a {
	color: #FFF;
}

/* End Navbar Section */

.carousel_container {
	background-color: #000;
	max-height: 450px;
	margin-top: 50px;
}
.carousel_container img {
	max-height: 450px;
	max-width: 100%;
	width: auto;
	margin: 0 auto;
}


.main_text {
	margin-top: 80px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
}
.main_text_home {
	margin-top: 30px;
	margin-bottom: 30px;
}
.main_text_rr {
	margin-top: 50px;
	margin-bottom: 0px;
}

.join {
	padding-top: 75px;
	padding-bottom: 75px;
}
.social {
	background-color: #000;
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
	max-height: 400px;
}
.footer-height {
	height: 300px;
}

.sponsor-height {
	min-height: 75vh;
}
.title {
	margin-bottom: 30px;
}
.title h2 {
	font-weight: 400;
	font-size: 40px;
	color: #323232;
	margin-bottom: 0;
	margin-top: 0;
}
.title .byline {
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 19px;
	color: #0A6EAC;
}
.text {
	padding-right: 30px;
}
.text p {
	line-height: 180%;
}
.center {
	text-align: center;
}
.flexbox-container-sponsor {
	min-width: 100%;
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: center;
}
.image-full {
	margin: 0 0 20px 0;
	width: 100%;
	height: auto;
}
.image-small {
	margin: 0 auto 20px;
	width: 80%;
	height: auto;
}
.subtitle {
	margin-top: 15px;
	margin-bottom: 15px;
}
.subtitle h3 {
	color: #454445;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0;
}
.subtitle p a {
	color: #525252;
}
.subtitle ul {
	list-style: none;
	padding-left: 0;
}
.subtitle ul li {
	border-top: solid 1px #E5E5E5;
	display: list-item;
	text-align: -webkit-match-parent;
	padding: 5px 0;
	font-size: 16px;
}
.subtitle ul li:first-child {
	border-top: none;
}

.join {
	background-color: #f6f6f6;
}

.join h2 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 45px;
	color: #3E454C;
}
.join span {
	display: block;
	font-size: 20px;
	color: #0A6EAC;
	margin-top: 15px;
}

.button {
    display: inline-block;
    padding: 30px 0;
    background: #0A6EAC;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
}
.button-big {
    padding: 30px 0;
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
.button:hover {
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    background: #00A2FF;
}
.join a:hover {
    text-decoration: none;
    color: #fff;
}
.social h2 {
	color: #fff;
}


.icon {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
}

.icon:hover {
    text-decoration: none;
    color: #fff;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-linkedin {
  background: #007bb5;
}

#copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: #6F6F6F;
}

.contact_first {
	margin-top: 10px;
	padding-left: 0;
}
.contact_second {
	margin-top: 10px;
}
.email1 {
	background-color: rgb(39, 174, 96);
}
.email2 {
	color: rgb(39, 174, 96);
	background-color: #fff;
}
.linkedin1 {
	background-color: #0E76A8;
}
.linkedin2 {
	color: #0E76A8;
	background-color: #fff;
}
.facebook1 {
	background-color: #3B5998;
}
.facebook2 {
	color: #3B5998;
	background-color: #fff;
}
.twitter1 {
	background-color: #55ACEE;
}
.twitter2 {
	color: #55ACEE;
	background-color: #fff;
}
.trigger {
	position: relative;
	height: 50px;
	width: 50px;
	display: inline-block;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 5;
}

.trigger_span {
	overflow: hidden;
	position: absolute;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.trigger_span, .trigger_span i {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: -5;
	font-size: 30px;
}

.trigger .trigger_span i:nth-child(1) {
	top: 0;
	line-height: 50px;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.trigger .trigger_span i:nth-child(2) {
	top: 100%;
	line-height: 50px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.trigger:hover .trigger_span i:nth-child(1) {
	top: -100%;
	
}
.trigger:hover .trigger_span i:nth-child(2) {
	top: 0;
}
em, i {
	transition: all 0.4s;
}
.ch-info {
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden;
}
.ch-info h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}
a.icon:hover + .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}


}
@media screen and (max-width: 991px){
	.carousel_container {
		margin-top: 100px;
	}
	.join {
		text-align: center;
	}
	.button-big {
		display: inherit;
		margin: 25px auto 0;
	}
	.main_text {
		margin-top: 130px;
	}
}

@media screen and (max-width: 767px){
	.carousel_container {
		margin-top: 50px;
	}
	.main_text {
		margin-top: 80px;
	}
	.contact_second {
		margin-top: 0;
	}
	.title h2, .join h2 {
		font-size: 35px;
	}
	h1 {
		font-size: 25px;
	}
	h3 {
		font-size: 20px;
	}
	.title .byline {
		font-size: 16px;
	}
}

.rr-pic {
	width: auto;
	height: 100%;
	flex-grow: 1;
}
.rr-event-flex {
	display: flex;
	min-width: 100px;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	max-height: 300px;
}
.rr-event {
	display: block;
	border: 5px solid #454445;
	overflow-y: auto;
	text-align: center;
	padding: 15px;
	background-color: #dff3fd;
}
.rr-registration {
	margin: 10px;
	background-color: #dff3fd;
	color: #454445;
	border: 2px solid #454445;
	font-weight: 600;
}

.rr-info {
	margin-top: 20px;
	margin-bottom: 20px;
}

.rr-directions {
	margin-top: 20px;

}
.rr-registration-buttons a:hover {
	background-color: #454445;
	color: #dff3fd;
	
}
.rr-title {
	margin-bottom: 10px;
}
.rr_title {
	margin-top: 10px;
}
.rr-indent {
	margin-left: 50px;
}
.rr-indent-20 {
	margin-left: 20px;
}
.rr-list {
	display: list-item;
}

.rr-event h2 {
	color: #0A6EAC;
}
.gutter {
	background-color: lightslategrey;
	min-height: 100%;
}
.main_content {
	min-height: 100%;
}

.flex-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
.rr-flexbox-container {
	display: flex;
}

.rr-banner {
	display: flex;
	color: black;
	flex-direction: column;
	min-height: 100px;
	min-width: 60%;
	border: 7px solid rgb(194,142,15);
	text-align: center
}
.rr-banner:hover {
	cursor: pointer;
	background-color: rgb(194,142,15);
}

.rr-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.rr-banner-onpage {
	display: flex;
	flex-direction: row;
	align-content: center;
	min-height: 50px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 5px;
	margin-left: 25px;
}
.rr-banner-button {
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
	border: 3px solid rgb(194,142,15);
	padding: 10px;
	font-weight: bold;
	color: black;
}
.rr-banner-button:hover {
	background-color: rgb(194,142,15);
	cursor: pointer;
}
}