.footer {
    width: 100%;
    height: 400px;
    background-color: rgb(69, 69, 69);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.footer-callout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}
.footer-callout > h1{
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 0px;
}
.footer-callout > h2 {
    font-size: 20px;
    color: goldenrod;
    font-family: sans-serif;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0px;
}

.icons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.icon:hover {
    cursor:pointer;
}